:root {
  /* Padding */
  --small-padding: 4px;
  --medium-padding: 8px;
  --large-padding: 12px;

  /* Padding */
  --small-margin: 4px;
  --medium-margin: 8px;
  --large-margin: 12px;

  /* Gap */
  --small-gap: 8px;
  --medium-gap: 16px;
  --large-gap: 32px;

  /* Height */
  --header-height: 56px;
  --header-height-with-padding: 72px;
  --base-button-height: 32px;

  /* Color */
  --grey3: #f0f0f0;
  --grey4: #dedede;

  --base-background-grey: var(--grey3);
  --hover-background-grey: var(--grey4);
}
