.base-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--base-button-height);
  min-width: var(--base-button-height);
  // I expect this to change
  padding: 0;
}
