@import "../variables.css";

.base-input {
  display: flex;
  flex-direction: column;

  // I expect this to change
  input {
    width: 200px;
  }

  label {
    margin-bottom: var(--medium-margin);
  }
}
